.image_picker {
  width: 100%;

  .responsive {
    position: relative;
    margin: 10px;
    float: left;
    opacity: 1;

    @media (min-width: 2000px) {
      .thumbnail {
        width: calc(5vw + 11vh) !important;
        height: calc(6vw + 6vh) !important;
        opacity: 1;
        margin: 0;
        &:hover {
          box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
        }
      }
    }

    .thumbnail {
      width: calc(6vw + 11vh);
      height: calc(6vw + 6vh);
      opacity: 1;
      margin: 0;
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
      }
    }

    .selected {
      background-color: rgba(0, 140, 186, 1);
    }
    
    &:hover {
      cursor: pointer;
    }

    .checked {
      display: none;
    }
  }

  .responsive .content-overlay {
    background: #00000089;
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border: 3px solid #26B4EC;
  }

  .responsive:hover .content-overlay{
    opacity: 1;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .responsive:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .content-details h3{
    color: #26B4EC;
    font-weight: bold;
    font-size: 0.8em;
  }

  .selected {
    opacity: 0.7;

    .checked {
      display: inline-block;
      transition: .5s ease;
      position: absolute;
      top: 10px;
      left: 10px;

      .icon {
        font-family: inherit;
        font-size: 13px;
        background-color: #3f51b5;
        color: #fff;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
      }
    }
  }

  .clear {
    clear: both;
  }
}